:root {
    --text-primary: rgb(85, 85, 85);
    --text-secondary: rgb(77, 77, 77);
    --color-red-primary: rgb(252, 126, 115);
    --color-red-secondary: rgb(233, 101, 91);
    --color-green-primary: rgb(99, 165, 118);
    --color-green-secondary: rgb(90, 138, 105);
    --color-blue-primary: rgb(77, 157, 203);
    --color-blue-secondary: rgb(66, 145, 184);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.container {
    width: 100%;
    margin: auto;
    height: 100vh;
}

.container .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
}

.container .carousel .slide {
    display: flex;
    height: 100%;
    width: 200%;
    flex-shrink: 0;
    transition: all 0.5s;
}

.container .carousel .slide section {
    flex-basis: 50%;
    width: 50%;
    flex-shrink: 0;
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.group {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.group p {
    position: absolute;
    color: white;
    font-size: 26px;
    font-weight: 600;
    width: 50vw;
    bottom: 16vh;
    left: 16vw;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
    /* margin: 60vw 20vw; */
}

.slide1 {
    background-image: url(images/bg.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.slide2 {
    background: url(images/about-bg.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.container .carousel .arrow {
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
}

.container .carousel .arrow.prev {
    left: 10px;
}

.container .carousel .arrow.next {
    right: 10px;
}

.container .carousel .controls i {
    color: white;
    padding: 10px 13px;
    border: 1px solid white;
    border-radius: 100%;
}

.container .carousel .controls i:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
}

.container .carousel .controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
}

.container .carousel .controls ul li {
    width: 16px;
    height: 16px;
    /* border: 2px solid #333333; */
    border-radius: 50px;
    margin: 4px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    cursor: pointer;
}

.container .carousel .controls ul li.selected {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
}

header {
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 0 150px;
    transition: 0.6s;
}

header .logo {
    color: var(--text-primary);
    font-size: 1.2em;
    font-weight: 700;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 2px;
}

header .navbar {
    position: relative;
    line-height: 56px;
    transition: 0.6s;
    transition-property: line-height;
}

header.sticky .navbar {
    line-height: 56px;
}

header .navbar .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

header .navbar .menu .close-btn i {
    color: white;
}

.menu-item>a {
    color: grey;
    font-size: 0.8em;
    text-decoration: none;
    padding: 20px 20px;
}

.menu-item>a:hover {
    background: rgb(240, 241, 241);
    transition: 0.3s;
}

.menu-item .sub-menu {
    position: absolute;
    background: rgb(255, 255, 255);
    top: 56px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    pointer-events: none;
    transform: translateY(0px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

header.sticky .navigation {
    line-height: 60px;
}

.menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a {
    color: grey;
    font-size: 0.8em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item a:hover {
    color: rgb(255, 255, 255);
}

.menu-item .sub-menu .sub-item:hover {
    background: var(--text-secondary);
}


.menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}

.more .more-menu {
    position: absolute;
    background: #23252B;
    list-style: none;
    top: 0;
    left: 100%;
    white-space: nowrap;
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.menu-btn {
    display: none;
}

article {
    text-align: center;
    padding: 8vw 12vw;
}

article h1 {
    margin-bottom: 24px;
}

.our {
    color: var(--text-primary);
}

article .content {
    display: flex;
    gap: 24px;
    color: white;
}

article .content section {
    position: relative;
}

article .content .boxRed {
    background-color: var(--color-red-primary);
    border: 2px solid var(--color-red-secondary);
}

article .content .boxGreen {
    background-color: var(--color-green-primary);
    border: 2px solid var(--color-green-secondary);
}

article .content .boxBlue {
    background-color: var(--color-blue-primary);
    border: 2px solid var(--color-blue-secondary);
}

article .content section .box {
    padding: 24px;
}

article .content section .box i {
    font-size: 24px;
    margin-bottom: 8px;
}

article .content section .box p {
    font-size: 0.8em;
    margin-bottom: 20px;
}

article .content section .triangle {
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translate(50%, -50%);
}

article .content section .red {
    border-left: 12px solid var(--color-red-secondary);
}

article .content section .green {
    border-left: 12px solid var(--color-green-secondary);
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    width: 50vw;
    margin: 2vh auto 0 auto;
    padding: 20px;
    border-radius: 4px;
    font-size: 16px;
}

#form button {
    padding: 12px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: var(--color-blue-secondary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control label {
    color: var(--text-primary);
}

.input-control input,
.input-control textarea {
    border: 1px solid grey;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

/* 
.input-control.success input {
    border-color: #09c372;
} */

.input-control.error input,
.input-control.error textarea {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 20px;
}

footer {
    background-color: var(--text-secondary);
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    color: white;
}

footer div i {
    color: white;
    margin: 10px 5px 0px 5px;
    font-size: 28px;
}


@media (max-width: 1060px) {
    header .navbar .menu {
        position: fixed;
        display: block;
        background: #23252b;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 60px 50px;
        visibility: hidden;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
    }

    header.sticky .navbar {
        line-height: 75px;
    }

    header .navbar .menu.active {
        right: 0;
        visibility: visible;
    }

    .menu-item {
        position: relative;
    }

    .menu-item>a:hover {
        background: #23252b;
        color: white;
    }

    .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    header.sticky .menu-item .sub-menu {
        top: 0;
    }

    .menu-item:hover .sub-menu {
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item {
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover {
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover {
        transition: 0.3s;
    }

    .close-btn {
        position: absolute;
        background: url(close.png)no-repeat;
        width: 28px;
        height: 28px;
        background-size: 25px;
        background-position: center;
        top: -8px;
        left: 0;
        margin: 23px;
        cursor: pointer;
        border: 2px solid white;
        border-radius: 100%;
    }

    .close-btn i {
        display: block;
        position: relative;
        top: 4px;
        left: 6px;
        width: auto;
    }

    .menu-btn {
        background: url(menu.png)no-repeat;
        width: 24px;
        height: 24px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }

    header {
        padding: 15px 20px;
    }

    header.sticky {
        padding: 10px 20px;
    }
}

@media(max-width:800px) {
    .our {
        margin-top: 60px;
    }

    article .content {
        flex-direction: column;
    }

    #form {
        width: 70vw;
    }
}